@font-face {
  font-family: SourceCodePro;
  src: url(fonts/SourceCodePro-Regular.ttf);
}
@font-face {
  font-family: SourceCodePro;
  src: url(fonts/SourceCodePro-Bold.ttf);
  font-weight: bold;
}

@keyframes blink-animation {
  50% {
      opacity: 0;
  }
}


body {
  margin: 0;
  font-family: 'SourceCodePro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site{
  display: flex;
  width: 80vw;
  background-color: #3b4252;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 100vh;
}

body{
  display: flex;
  background-image: url(game_background.png);
  justify-content: center;
  color: rgb(169, 193, 212);
}
h1{
  color: #ebcb8b;
  font-size: 64px
}
mark{
  background: transparent;
  color: rgb(169, 193, 212);
  font-weight: bold;
}

mark p td body h1 button{
  font-family: 'SourceCodePro';
}

.start-intructions{
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.content{
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.transparent{
  opacity: 0;
}

button {
  background-color: #2e3440;
  color: #81a1c1;
  font-family: 'SourceCodePro';
  border: none;
  padding: 10px;
}